body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(#f90c8b, #0552d8);
    color: #ffffff;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

#bff-img {
    width: 450px;
    border-radius: 50%;
    border: 6px solid #c5d7f1;
    margin-bottom: 10px;
}

#bday-age {
    background: #0552d8;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #0552d8;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-cheers {
    height: 200px;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("images/happy.gif");
}

#gift-img-karla3:hover {
    background-image: url("images/Karla3.jpg");
}

#gift-img-genius:hover {
    background-image: url("images/genius.gif");
}

#gift-img-karla:hover {
    background-image: url("images/Karla.jpg");
}

#gift-img-cheers:hover {
    background-image: url("images/cheers.gif");
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: white;
}
